li {
    list-style-type: none;
    padding: 0;
}

.chatList {
    &Wrapper {
        width: 300px;
    }
    &Header {
        &Profile {
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: flex-end;
            a {
                color: $text-secondary-color
            }
        }
    }
    &Items {
        padding: 0;
    }
    &Item {
        display: flex;
        gap: 10px;
        padding: 12px 0;
        border-top: 1px solid $empty-color;
        &Info {
            display: flex;
            flex-direction: column;
            &Text {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 170px;
            }
        }
    }
    &Image {
        width: 50px;
        height: 50px;
        object-fit: fill;
        border-radius: 100%;
        &.empty {
            background-color: $empty-color;
        }
    }
}
